:root {
  --primary-color: #f3a46b;
  --green-color: #1bbc9b;
  --red-color: #ff6868;
  --blue-color: #14b9d5;
  --violet-color: #c755da;
  --yellow-color: #ffd205;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Poppins', sans-serif;
}