:root {
  --primary-color: #f3a46b;
  --green-color: #1bbc9b;
  --red-color: #ff6868;
  --blue-color: #14b9d5;
  --violet-color: #c755da;
  --yellow-color: #ffd205;
  --white-color: #ffffff;

  --text-color: #727475;
  --text-blur-color: #9a9a9a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}


/* =============== Button =============== */
.bnt {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white-color);
  display: inline-block;
  padding: 9px 20px;
  border-radius: 63px;
}

.bnt.big {
  padding: 15px 35px;
}

.bnt.primary {
  background-color: var(--primary-color);
}
.bnt.green {
  background-color: var(--green-color);
}
.bnt.red {
  background-color: var(--red-color);
}
.bnt.blue {
  background-color: var(--blue-color);
}
.bnt.violet {
  background-color: var(--violet-color);
}
.bnt.yellow {
  background-color: var(--yellow-color);
}


/* =============== Highlight =============== */
.primary-highlight {
  color: var(--primary-color);
}

/* =============== Heading =============== */
.heading > .heading__sub-heading {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.heading.black > .heading__sub-heading {
  color: var(--text-blur-color);
}
.heading.white > .heading__sub-heading {
  color: var(--white-color);
}

.heading > .heading__main {
  font-size: 3.6rem;
  line-height: 3.6rem;
  margin-top: 20px;
  margin-bottom: 32px;
}
.heading.black > .heading__main {
  color: #555;
}
.heading.white > .heading__main {
  color: var(--white-color);
}

/* =============== Underline =============== */
.underline {
  position: relative;
}
.underline::before {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 11px;
  left: 0;
  right: 0;
  height: 5px;
}
.underline.primary::before {
  background-color: var(--primary-color);
}