/* =============== HEADER =============== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
  position: relative;
  z-index: 10;
}

.header__logo {
  height: 40px;
}

.header-menu__list {
  list-style: none;
  padding: 0 64px;
}

.header-menu__item {
  position: relative;
  display: inline-block;
}

.header-menu__link {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--text-color);
  display: inline-block;
  text-transform: uppercase;
  padding: 15px 20px;
}

/* Submenu */
.header-submenu__list {
  position: absolute;
  background-color: var(--white-color);
  list-style: none;
  box-shadow: 0 1px 12px #0001;
  display: none;
}

.header-menu__item:hover > .header-submenu__list {
  display: block;
}
.header-menu__item > .header-submenu__list {
  top: calc(100% + 12px);
  left: 0;
}
.header-menu__item > .header-submenu__list::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  right: 0;
  height: 12px;
}

.header-submenu__item:hover > .header-submenu__list {
  display: block;
}
.header-submenu__list .header-submenu__list {
  top: 0;
  left: calc(100% + 12px);
}
.header-submenu__list .header-submenu__list::before {
  content: "";
  position: absolute;
  left: -12px;
  top: 0;
  bottom: 0;
  width: 12px;
}

.header-submenu__item {
  position: relative;
}

.header-submenu__item:not(:first-child) {
  border-top: 1px solid #eee;
}

.header-submenu__link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 15px 20px;
  width: 190px;
  display: inline-block;
}

.header-submenu__item:hover > .header-submenu__link {
  background-color: #f1f1f1;
}

.header-submenu__icon {
  position: absolute;
  right: 20px;
  font-size: 1.4rem;
  color: var(--text-color);
  top: 50%;
  transform: translateY(-50%);
}

/* ======= */

.header__bnt {
  font-size: 1.6rem;
}


/* ================== MOBILE MENU - begin ==================*/

.header-mobile-menu__icon {
  font-size: 2.4rem;
  color: var(--text-color);
  cursor: pointer;
}

#header-mobile-menu-checkbox:checked ~ .header-mobile-menu__list {
  display: block;
}

.header-mobile-menu__list {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  background-color: var(--primary-color);
  padding: 55px 0 55px 40px;
  overflow-y: auto;
  display: none;
  animation: appearFromRight ease-out 0.2s;
}

@keyframes appearFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.header-mobile-menu__close-icon {
  position: absolute;
  top: 32px;
  right: 32px;
  font-size: 1.6rem;
  width: 28px;
  height: 28px;
  padding-top: 4px;
  padding-left: 1px;
  text-align: center;
  border-radius: 72px;
  border: 2px solid var(--white-color);
  color: var(--white-color);
  cursor: pointer;
}

.header-mobile-menu__link {
  font-size: 2.4rem;
  color: var(--white-color);
  display: block;
  line-height: 6rem;
}

.header-mobile-submenu__list {
  padding-left: 20px;
}

.header-mobile-submenu__link {
  font-size: 1.4rem;
  color: var(--white-color);
  display: block;
  line-height: 4rem;
}

@media (min-width: 1280px) {
  .header-mobile-menu__icon {
    display: none;
  }
}

@media (max-width: 1279px) {
  .header-menu__list,
  .header__bnt {
    display: none;
  }
}
/* ================== MOBILE MENU - end ==================*/


/* ================== SLIDER - begin ================== */
/* ==================================================== */

.slider {
  height: 800px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.slider__container {
  position: relative;
  height: 100%;
}

.slider__content {
  position: absolute;
  right: 80px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider__heading {
  transform: rotate(-2deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: vibrate 4s linear infinite;
}

@keyframes vibrate {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(4px, 1px);
  }
  40% {
    transform: translate(0, 2px);
  }
  80% {
    transform: translate(-4px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.slider__heading-item {
  color: var(--white-color);
  background-color: #555;
  font-size: 4.5rem;
  line-height: 4.5rem;
  font-weight: 700;
  padding: 5px 20px 10px;
  margin-bottom: 4px;
  text-align: center;
  display: inline-block;
}

.slider__list {
  list-style-type: ' ★ ';
  margin-top: 24px;
}

.slider__item {
  font-size: 2rem;
  line-height: 3.2rem;
  text-transform: uppercase;
  color: var(--white-color);
  margin-top: 34px;
  max-width: 340px;
}

.slider__button {
  width: 250px;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 50px;
  cursor: pointer;
  margin-top: 80px;
  position: relative;
  transition: border-radius linear 0.2s;
}

.slider__button:hover {
  border-radius: 0;
}

.slider__bnt-price {
  width: 50px;
  height: 5rem;
  line-height: 5rem;
  font-size: 1.6rem;
  background-color: #555;
  color: var(--white-color);
  border-radius: 50px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.slider__navigation-bnt {
  position: absolute;
  top: 50%;
  width: 28px;
  height: 28px;
  border-width: 3px 0 0 3px;
  border-style: solid;
  border-color: var(--white-color);
  cursor: pointer;
}

.slider__navigation-bnt:hover {
  opacity: 0.8;
}

.slider__navigation-bnt--left {
  left: 36px;
  transform: rotate(-45deg);
}
.slider__navigation-bnt--right {
  right: 36px;
  transform: rotate(135deg);
}

/* ================== SLIDER - end ================== */

/* ================== EXPERIENCE - begin ================== */
/* ====================================================== */
.experience {
  position: relative;
  padding-bottom: 100px;
}

.experience__content {
  padding: 140px 52px 52px;
}

.experience__desc {
  margin-bottom: 32px;
}

.experience__desc-item {
  color: var(--text-blur-color);
  font-size: 1.4rem;
  line-height: 2;
}

.experience-product__item {
  position: relative;
  display: block;
}

.experience-product__img {
  width: 100%;
  object-fit: cover;
}

.experience-product__price {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 6px 16px;
  border-radius: 50px;
  font-size: 1.4rem;
  color: var(--white-color);
}
.experience-product__price--yellow {
  background-image: linear-gradient(to right, #ffd205, #ff9b05);
}
.experience-product__price--pink {
  background-image: linear-gradient(to right, #f76570 0%, #f78d65 100%);
}
.experience-product__price--purple {
  background-image: linear-gradient(to right, #ba71da 0%, #da717b 100%);
}
.experience-product__price--green {
  background-image: linear-gradient(to right, #14b9d5 0%, #14d5b1 100%);
}

.experience__media-container {
  position: relative;
}

.experience__media-img {
  position: absolute;
  top: 72px;
  left: 0;
  right: 0;
  height: 680px;
  background-size: cover;
  background-position: center;
}

.experience__media-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7.2rem;
  color: #fffa;
  cursor: pointer;
  transition: transform 0.2s linear;
}
.experience__media-icon:hover {
  transform: translate(-50%, -50%) scale(120%);
}


/* ================== EXPERIENCE - end ================== */

/* ================== SERVICES - begin ================== */
/* ==================================================== */
.services {
  background-color: #555;
  padding: 80px 0;
  position: relative;
  z-index: -1;
}

.services__heading {
  text-align: center;
}

.services__item {
  display: flex;
  height: 100%;
  margin-top: 52px;
}

.services__item-img {
  width: 52px;
  height: 52px;
  margin-right: 20px;
}

.services__item-content {
  flex: 1;
  color: var(--white-color);
}

.services__item-heading {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 28px;
}

.services__item-desc {
  font-size: 1.4rem;
  line-height: 2;
  margin-bottom: 20px;
}

.services__item-bnt {
  text-transform: unset;
  margin-top: auto;
}


/* ================== SERVICES - end ================== */


/* ================== SALE - begin ================== */
/* ================================================== */
.sale {
  padding-top: 80px;
}

.sale-heading {
  background-color: var(--primary-color);
  padding: 80px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 600px;
}
/* PC low resolution: 1024px -> 1279px */
@media (min-width: 1024px) and (max-width: 1279px) {
  .sale-heading {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.sale-heading__time {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 12px;
}

.sale-heading__time-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  margin-bottom: 24px;
}

.sale-heading__time-num {
  font-size: 3.6rem;
  color: var(--white-color);
}

.sale-heading__time-label {
  font-size: 1.4rem;
  color: var(--white-color);
  text-transform: uppercase;
}

.sale-heading__bnt {
  color: var(--primary-color);
  background-color: var(--white-color);
  margin-top: 24px;
}

.sale-product {
  height: 600px;
  border: 1px solid #f0f0f0;
}

.sale-product__img {
  height: 260px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.sale-product__content {
  position: relative;
  padding: 28px;
}

.sale-product__icon {
  position: absolute;
  top: 0;
  right: 24px;
  transform: translateY(-50%);
  width: 52px;
  height: 52px;
  border-radius: 100px;
}
.sale-product__icon--yellow {
  background-image: linear-gradient(to right, #ffd205, #ffa600);
}
.sale-product__icon--red {
  background-image: linear-gradient(to right, #ff6868, #fd2f2f);
}

.sale-product__icon-img {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sale-product__name {
  font-size: 2rem;
  color: var(--heading-text-color);
}

.sale-product__location {
  font-size: 1.5rem;
  color: var(--text-blur-color);
  letter-spacing: 0.2rem;
  font-weight: 300;
  padding-bottom: 16px;
}

.sale-product__mid-section {
  border-style: solid;
  border-color: #f1f1f1;
  border-width: 1px 0;
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sale-product__cultural-label {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 300;
}

.sale-product__cultural-sport {
  padding: 0 8px;
  border-radius: 50px;
  color: var(--white-color);
  font-size: 1.2rem;
  line-height: 1.4rem;
}
.sale-product__cultural-sport--yellow {
  background-color: var(--yellow-color);
}
.sale-product__cultural-sport--red {
  background-color: var(--red-color);
}

.sale-product__price {
  color: var(--heading-text-color);
  font-size: 2.5rem;
}

.sale-product__price-old {
  font-size: 2rem;
  color: var(--text-color);
  text-decoration: line-through;
}

.sale-product__desc {
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 2;
  margin: 12px 0;
}
/* ================== SALE - end ================== */


/* ===================================================== */
/* ================== ARTICLE - begin ================== */
.article {
  padding: 80px 0;
}

.article-item {
  display: flex;
  height: 320px;
}
.article-item--reverse {
  flex-direction: row-reverse;
}

.article-item__img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.article-item__content {
  width: 50%;
  border: 1px solid #f1f1f1;
  padding: 24px;
}
.article-item--bg-green .article-item__content {
  background-color: var(--green-color);
  border: none;
}
.article-item--bg-blue .article-item__content {
  background-color: var(--blue-color);
  border: none;
}

.article-item__sub-heading {
  font-size: 1.4rem;
  line-height: 3.2rem;
  text-transform: uppercase;
  color: var(--text-blur-color);
}
.article-item--bg-green .article-item__sub-heading {
  color: var(--white-color);
}
.article-item--bg-blue .article-item__sub-heading {
  color: var(--white-color);
}

.article-item__heading {
  font-size: 2rem;
  line-height: 3.2rem;
  color: var(--heading-text-color);
}
.article-item--bg-green .article-item__heading {
  color: var(--white-color);
}
.article-item--bg-blue .article-item__heading {
  color: var(--white-color);
}

.article-item__desc {
  font-size: 1.4rem;
  line-height: 2;
  color: var(--text-blur-color);
  margin: 24px 0;
  height: 120px;
  overflow: hidden;
}
.article-item--bg-green .article-item__desc {
  color: var(--white-color);
}
.article-item--bg-blue .article-item__desc {
  color: var(--white-color);
}

.article-item--bg-green .article-item__bnt {
  background-color: var(--white-color);
  color: var(--green-color);
}
.article-item--bg-blue .article-item__bnt {
  background-color: var(--white-color);
  color: var(--blue-color);
}
/* ================== ARTICLE - end ================== */



/* ==================================================== */
/* ================== FOOTER - begin ================== */
.footer {
  background-image: url('/assets/img/home-video-img.jpg');
  background-size: cover;
  background-position: center;
  padding: 80px 0;
}

.footer__container {
  background-color: var(--white-color);
}

.footer__section,
.footer__about-section {
  padding: 32px;
}

.footer__logo {
  height: 32px;
}

.footer__desc {
  margin: 24px 0;
  font-size: 1.4rem;
  line-height: 2;
  color: var(--text-blur-color);
}

.footer__social-item {
  display: inline-block;
  margin-right: 12px;
}

.footer__social-icon {
  font-size: 2.4rem;
  color: var(--heading-text-color);
  cursor: pointer;
}

.footer__heading {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--heading-text-color);
  margin-bottom: 32px;
}

.footer__item {
  line-height: 2;
  font-size: 1.4rem;
  color: var(--text-blur-color);
}

.footer__item i {
  margin-right: 4px;
  color: #c5c5c5;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.footer__copyright-item {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding: 16px;
  color: var(--white-color);
}

/* ================== FOOTER - end ================== */


/* =================================================== */
/* ================== FIXED - begin ================== */
.fixed-sticky {
  position: fixed;
  right: 32px;
  bottom: 32px;
}

.fixed-sticky__price {
  width: 68px;
  height: 68px;
  font-size: 2.4rem;
  line-height: 68px;
  text-align: center;
  border-radius: 100px;
  background-color: var(--heading-text-color);
  color: var(--white-color);
  box-shadow: 0 1px 16px #0002;
}

.fixed-sticky__dollar {
  position: absolute;
  top: 16px;
  left: 14px;
  color: var(--white-color);
}

.fixed-sticky__icon {
  position: absolute;
  bottom: 0;
  left: -20px;
  width: 36px;
  height: 36px;
  font-size: 2rem;
  line-height: 36px;
  text-align: center;
  border-radius: 100px;
  background-color: var(--heading-text-color);
  color: var(--white-color);
}

.fixed-sticky__label {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 4px 6px;
  color: var(--white-color);
  background-color: var(--primary-color);
}
/* ================== FIXED - end ================== */