/* =============== HEADER =============== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
}

.header__logo {
  height: 40px;
}

.header-menu__list {
  list-style: none;
  padding: 0 64px;
}

.header-menu__item {
  position: relative;
  display: inline-block;
}

.header-menu__link {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--text-color);
  display: inline-block;
  text-transform: uppercase;
  padding: 15px 20px;
}

/* Submenu */
.header-submenu__list {
  position: absolute;
  background-color: var(--white-color);
  list-style: none;
  box-shadow: 0 1px 12px #0001;
  display: none;
}

.header-menu__item:hover > .header-submenu__list {
  display: block;
}
.header-menu__item > .header-submenu__list {
  top: calc(100% + 12px);
  left: 0;
}
.header-menu__item > .header-submenu__list::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  right: 0;
  height: 12px;
}

.header-submenu__item:hover > .header-submenu__list {
  display: block;
}
.header-submenu__list .header-submenu__list {
  top: 0;
  left: calc(100% + 12px);
}
.header-submenu__list .header-submenu__list::before {
  content: "";
  position: absolute;
  left: -12px;
  top: 0;
  bottom: 0;
  width: 12px;
}

.header-submenu__item {
  position: relative;
}

.header-submenu__item:not(:first-child) {
  border-top: 1px solid #eee;
}

.header-submenu__link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 15px 20px;
  width: 190px;
  display: inline-block;
}

.header-submenu__item:hover > .header-submenu__link {
  background-color: #f5f5f5;
}

.header-submenu__icon {
  position: absolute;
  right: 20px;
  font-size: 1.4rem;
  color: var(--text-color);
  top: 50%;
  transform: translateY(-50%);
}

/* ======= */

.header__bnt {
  font-size: 1.6rem;
}


/* ================== MOBILE MENU - begin ==================*/

.header-mobile-menu__icon {
  font-size: 2.4rem;
  color: var(--text-color);
  cursor: pointer;
}

#header-mobile-menu-checkbox:checked ~ .header-mobile-menu__list {
  display: block;
}

.header-mobile-menu__list {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  background-color: var(--primary-color);
  padding: 55px 0 55px 40px;
  overflow-y: auto;
  display: none;
  animation: appearFromRight ease-out 0.2s;
}

@keyframes appearFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.header-mobile-menu__close-icon {
  position: absolute;
  top: 32px;
  right: 32px;
  font-size: 1.6rem;
  width: 28px;
  height: 28px;
  padding-top: 4px;
  padding-left: 1px;
  text-align: center;
  border-radius: 72px;
  border: 2px solid var(--white-color);
  color: var(--white-color);
  cursor: pointer;
}

.header-mobile-menu__link {
  font-size: 2.4rem;
  color: var(--white-color);
  display: block;
  line-height: 6rem;
}

.header-mobile-submenu__list {
  padding-left: 20px;
}

.header-mobile-submenu__link {
  font-size: 1.4rem;
  color: var(--white-color);
  display: block;
  line-height: 4rem;
}

@media (min-width: 1280px) {
  .header-mobile-menu__icon {
    display: none;
  }
}

@media (max-width: 1279px) {
  .header-menu__list,
  .header__bnt {
    display: none;
  }
}
/* ================== MOBILE MENU - end ==================*/


/* ================== SLIDER - begin ================== */
/* ==================================================== */

.slider {
  height: 800px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.slider__container {
  position: relative;
  height: 100%;
}

.slider__content {
  position: absolute;
  right: 80px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider__heading {
  transform: rotate(-2deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider__heading-item {
  color: var(--white-color);
  background-color: #555;
  font-size: 4.5rem;
  line-height: 4.5rem;
  font-weight: 700;
  padding: 5px 20px 10px;
  margin-bottom: 4px;
  text-align: center;
  display: inline-block;
}

.slider__list {
  list-style-type: ' ★ ';
  margin-top: 24px;
}

.slider__item {
  font-size: 2rem;
  line-height: 3.2rem;
  text-transform: uppercase;
  color: var(--white-color);
  margin-top: 34px;
  max-width: 340px;
}

.slider__button {
  width: 250px;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 50px;
  cursor: pointer;
  margin-top: 80px;
  position: relative;
  transition: border-radius linear 0.2s;
}

.slider__button:hover {
  border-radius: 0;
}

.slider__bnt-price {
  width: 50px;
  height: 5rem;
  line-height: 5rem;
  font-size: 1.6rem;
  background-color: #555;
  color: var(--white-color);
  border-radius: 50px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.slider__navigation-bnt {
  position: absolute;
  top: 50%;
  width: 28px;
  height: 28px;
  border-width: 3px 0 0 3px;
  border-style: solid;
  border-color: var(--white-color);
  cursor: pointer;
}

.slider__navigation-bnt:hover {
  opacity: 0.8;
}

.slider__navigation-bnt--left {
  left: 36px;
  transform: rotate(-45deg);
}
.slider__navigation-bnt--right {
  right: 36px;
  transform: rotate(135deg);
}

/* ================== SLIDER - end ================== */