/* Tablet and Mobile */
@media (max-width: 1023px) {
  .hide-on-tablet-mobile {
    display: none;
  }

  .slider__heading {
    display: none;
  }

  .experience__media-img {
    position: unset;
    margin-bottom: 32px;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }

  .experience__content {
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .experience__media-img {
    height: 420px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }

  .header {
    padding: 0 24px;
  }
  .header-mobile-menu__list {
    width: 100%;
  }

  .slider {
    height: 400px;
  }
  .slider__content {
    top: unset;
    bottom: 32px;
    right: unset;
    left: 50%;
    transform: translateX(-50%);
  }
  .slider__list,
  .slider__bnt-price {
    display: none;
  }
  
  .experience__media-img {
    height: 220px;
  }

  .services__item {
    padding: 0 12px;
  }
}